<h1><%= t("static_pages.sample_app")%></h1>

<p><%= t("static_pages.hi")%> <%= @user.name %>,</p>

<p>
<%= t("static_pages.welcome")%> <%= t("static_pages.click_account")%>
</p>
<%= link_to t("static_pages.activate"), edit_account_activation_url(@user.activation_token,
  email: @user.email)%>
