<footer class="footer">
  <small>
    <%= t("static_pages.the")%> <a href="http://www.railstutorial.org/"><%= t("static_pages.by")%></a>
    <%= t("static_pages.rubytutorial")%> <a href="http://www.michaelhartl.com/"><%= t("static_pages.name_footer")%></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about"), "/about" %></li>
      <li><%= link_to t("static_pages.contact"), "/contact" %></li>
      <li><a href="http://news.railstutorial.org/"><%= t("static_pages.news")%></a></li>
    </ul>
  </nav>
</footer>
